//GMAIL
GMAIL_CLIENT_ID=your-client-id
GMAIL_CLIENT_SECRET=your-client-secret
GMAIL_REFRESH_TOKEN=your-refresh-token

//OUTLOOK
OUTLOOK_CLIENT_ID=<your-app-id> 
OUTLOOK_REFRESH_TOKEN=<your-refresh-token>
